.header__subtitle_font-normal {
    /*height: 25px; Если оставить данную высоту блока, как в референс,
     то блок становится слишком узкий и текст съезжает. Возможно,
     имелось ввиду свойство line-height(расстояние между строками)*/
    font-size: 18px;
    font-weight: normal;
    line-height: 25px
}
